.sec1{
    height:600px;
    background: #f1f6f7;
    margin-top: 0;
}

.sec1 .cent{
    display:flex;
}

.img{
    width:600px;
    height:100%;
    background: url("images/hero-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}

.text{
    width:800px;
    height:100%;
    padding:60px;
}



.text h3{
    font-weight:400;
    font-size:30px;
    text-align: left;
    margin:28px 0;
}

.text h1{
    font-weight:700;
    font-size:60px;
    margin:5px 0;
    text-align:left;
}

.text p{
    margin:30px 0;
    line-height:26px;
    text-align: left;
    font-size: 18px;
    font-weight: 500px;
}

.text button{
    padding:20px 32px;
    font-size:20px;
    font-weight:400;
    border-radius: 32px;
    margin:38px 0;
    display:inline-block;
}


.sec2{
    height:700px;
    background: white;
    margin-top:150px;
}


.sec2  h3{
    text-align:left;
    font-size: 22px;
    font-weight:300;
}

.sec2 h1{
    margin:14px 0;
    text-align: left;
    font-size:40px;
}


.prod_cont{
    width:100%;
    margin:20px 0;
    height:400px;
    display:flex;
    flex-wrap:wrap;
}



.prod_card{
    width:300px;
    height:400px;
    margin:12px 25px;
}


.prod_img{
    width:100%;
    height:250px;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #e5e5e5;
}

.prod_img img{
    width:auto;
    height:100%;
    width:100%;
    object-fit:contain;
    mix-blend-mode: multiply;
}

.prod_text{
    height:150px;
    width:100%;
    padding-top:20px;
}


.prod_text h3{
    text-align: center;
    font-weight:300;
    text-transform: capitalize;
}


.prod_text h1{
    text-align: center;
    text-transform: capitalize;
    font-size:24px;
}



/* categories............................. */




.sec3{
    min-height:600px;
    height:auto;
    margin-top:20px;
}

.sec3 .cent{
    min-height:600px;
    height:auto;
}

.filter_cont{
    width:100%;
    height:90px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #f1f6f7;
}

.sec3 .prod_cont{
    height:auto;
    min-height:400px;
}


.filter_op{
    width:250px;
    height:60px;
    margin:0 50px;
    background: white;
    position:relative;
}

.filter_op h4{
    margin:20px 0;
    text-align:center;
    font-weight:300;
    font-size:20px;
}

.filter_op:hover .cat_drop, .filter_op:hover .price_drop, .filter_op:hover .stock_drop{
    display:block;
}

.cat_drop{
    width:250px;
    height:340px;
    position:absolute;
    top:60px;
    z-index:10000;
    box-shadow:var(--shadow);
    background: white;
    animation: price_drop .5s;
    display:none;
}

.stock_drop{
    width:250px;
    height:240px;
    position:absolute;
    top:60px;
    z-index:10000;
    box-shadow:var(--shadow);
    background: white;
    animation: price_drop .5s;
    display:none;
}

.stock_drop ul{
    width:100%;
    height:100%;
    padding:0px 18px;
}

.price_drop{
    width:250px;
    height:100px;
    position:absolute;
    top:60px;
    z-index:10000;
    box-shadow:var(--shadow);
    background: white;
    animation: price_drop .5s;
    display:none;
    /* padding:0 5px; */
}

@keyframes price_drop {
    from{
        opacity:0;
        top:100px;
    }

    to{
        opacity:1;
        top:60px;
    }
}

.price_drop button{
    margin:0 auto;
    padding:10px 16px;
}

input[type="number"]::-webkit-inner-spin-button{
    appearance: none;
}

.input{
    display:flex;
    height:50px;
    width:100%;
}

.price_drop input{
    width:100px;
    height:30px;
    margin:0px 6px;
    border:1px solid rgba(0, 0, 0, 0.449);
    border-radius:8px;
    padding:10px;
}

.price_drop i{
    margin:18px 0;
    width:20px;
    color:black;
    display:inline-block;
    font-size:10px;
    margin: 0px 0px;
    margin-left:8px;
}



.cat_drop ul{
    width:100%;
    height:100%;
    padding:0px 18px;
}

.cat_drop li{
    margin:50px 0;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.148);
    width:100%;
    padding-bottom:6px;
}


.stock_drop li{
    margin:50px 0;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.148);
    width:100%;
    padding-bottom:6px;
}


.cat_drop li a, .stock_drop li a{
    font-weight:500;
    font-size:20px;
    text-transform: capitalize;
}

/* details............................................. */

.sec4{
    /* margin-top:10px; */
    height:600px;
}

.hero{
    margin-top:150px;
}

.sec4 .cent{
    display:flex;
}


.image, .other{
    width: 700px;
    height:100%;
}

.other{
    padding:30px 20px;
}

.other h1{
    font-size:35px;
    text-align: left;
}


.star_array{
    margin:18px 0;
    width:150px;
    height:18px;
    display:flex;
    justify-content: space-between;
}

.star_array i{
    font-size:18px;
    color:#febe0e;
}

.desc{
    width:100%;
    height:300px;
    box-shadow: var(--shadow);
    padding:18px;
    font-size:17px;
    font-weight:400;
    text-align: left;
    line-height:23px;
}

.quantity{
    margin:18px 0;
    width:200px;
    display:flex;
    height:40px;
    align-items: center;
    justify-content: space-between;
}

.dec, .inc{
    width: 40px;
    height:40px;
    background: var(--accent);
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius:100px;
    padding:0;
}

.dec i, .inc, i{
    color:white;
    font-size:18px;
}




.quantity input{
    width:100px;
    height:40px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.201);
    text-align: center;
    font-weight:400;
    font-size:18px;
}


.image{
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #e5e5e5;
}


.image img{
    width:auto;
    height:100%;
    width:100%;
    object-fit:contain;
    mix-blend-mode: multiply;
}

.other button{
    margin:30px 0;
    border-radius:20px;
}



/* cart.............................................. */


.sec5{
    height:auto;
    min-height:600px;
    margin-top:50px;
}

.sec5 .cent{
    display:flex;
    height:auto;
    min-height:600px;
}

.c_prod{
    width:872px;
    margin:0 30px;
    height:100%;
    box-shadow: var(--shadow);
    padding: 20px 30px;
    height:auto;
    min-height:600px;
}




.c_cont{
    width:100%;
    height:160px;
    border-bottom:1px solid rgba(0, 0, 0, 0.111);
    padding-bottom:18px;
    margin:40px 0;
}

.top{
    height:90px;
    width:100%;
    display:flex;
    justify-content: space-between;
}


.bottom{
    height:50px;
    width:100%;
    display:flex;
    justify-content:space-between;
}


.det{
    width:430px;
    height:100%;
    display:flex;
}

.price{
    width:160px;
    height:100%;
}

.price h1{
    /* margin-top:10px; */
    font-weight:500;
    text-align: right;
}

.cart_img{
    width: 80px;
    height:80px;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #e5e5e5;
}

.cart_img img{
    width:auto;
    height:100%;
    width:100%;
    object-fit:contain;
    mix-blend-mode: multiply;
}

.prod_data{
    height:80px;
    margin:0 20px;
    width:300px;
}

.prod_data h3{
    color: var(--accent);
    text-align: left;
    font-size:20px;
    font-weight:400px;
    text-transform: capitalize;
}


.prod_data h4{
    text-align: left;
    text-transform: capitalize;
    margin:8px 0;
    font-size:18px;
}


.quant{
    width:150px;
    height:50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}



.remove{
    width:125px;
    height:50px;
}

.remove i{
    font-size:25px;
    display:inline-block;
    color:var(--accent);
    cursor:pointer;
    margin:20px 0;
}

.remove h3{
    display:inline-block;
    margin:20px 10px;
    font-size:19px;
    color:var(--accent);
    font-weight:400;
}


.q_num{
    width:40px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight:500;
    font-size:20px;
}


.total_cont{
    width:490px;
    height: 264px;
    padding: 18px 16px;
    box-shadow: var(--shadow);
}

.total_cont h1{
    font-weight:400;
    color:black;
    font-size:20px;
    text-align: left;
}

.summ_box{
    width:100%;
    height:90px;
    margin-top:18px;
}

.ne{
    display:flex;
    justify-content: space-between;
    height:30px;
    margin:20px 0;
}

.ne h3{
    text-align: left;
    font-size:18px;
}

.ne h1{
    text-align: right;
    font-size:21px;
}

.total_cont button{
    margin:30px auto;
    font-size:21px;
    box-shadow: var(--shadow);
}

body{
    background: #f1f6f7;
}

.hero{
    background: #f1f6f7;
}